<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About Me
                </h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-description">
                        <p data-aos="fade-up" data-aos-duration="1000">
                            Motivated software developer with strong programming and problem-solving skills, seeking an internship to apply technical knowledge and contribute to innovative projects. Eager to learn, collaborate, and gain hands-on experience in software development and testing.
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Skills:</strong> Desktop Development, Web Development, Project Documentation, Database Management Software
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Computer Languages:</strong> C#, HTML, CSS, SQL
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Databases:</strong> MS-SQL, Oracle
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Frameworks & Libraries:</strong> .NET Windows Forms, .NET Windows Presentation Form, ASP.NET Core, Entity Framework Core, Bootstrap
                        </p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">C#</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">CSS</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">SQL</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Desktop Development</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Web Development</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Project Documentation</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Database Management Software</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
