<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About Me
                </h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-description">
                        <p data-aos="fade-up" data-aos-duration="1000">
                            Aspiring full-stack developer with hands-on experience in JavaScript and SQL-based Web apps. Passionate about scalable design, software architecture, and real-world project implementation.
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Skills:</strong> Web Development, Project Documentation, Database Management Software
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Computer Languages:</strong> JavaScript, HTML, SQL
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Databases:</strong> MySQL, MongoDB
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Frameworks & Libraries:</strong> Node.js, Express.js, React
                        </p>
                        <p data-aos="fade-up" data-aos-duration="1000">
                            <strong>Tools:</strong> PostMan, OpenProject
                        </p>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">JavaScript</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">HTML</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">SQL</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Node.js</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">Express.js</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">React</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MongoDB</span></li>
                            <li class="skill-element" data-aos="fade-up" data-aos-duration="1000"><span class="underline">MySQL</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
